---
- name: Converge
  hosts: all
  gather_facts: no
  become: yes
  serial: "{{ lookup('env', 'ANSIBLE_SERIAL') }}"
  tasks:
    - name: Include vars file
      include_vars:
        file: ./vars/main.yml

    - name: "Include use - install"
      include_role:
        name: "use"
        tasks_from: deploy.yml
